:root {
    --color-all: 156, 163, 175;
    --color-all-darker: 75, 85, 101;
    --obrys: 1px;
}

html {
    font-size: 100%;
}

body {
    color: rgb(44, 44, 44);
    font-size: 18px;
    font-family: -apple-system, -system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* background-image: linear-gradient(to right, rgb(218, 217, 217), rgb(110, 110, 110)); */

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    border: 1px solid black;

    width: 62rem;
    min-height: 1100px;

    border-radius: 0.5rem;

    display: flex;
    overflow: hidden;
}

aside,
main {
    padding: 1rem;
}

aside {
    background-color: #F9F9F9;
    width: 62%;

    min-width: 260px;
}

/* FORMS */
input {
    color: black;
    font-size: 0.8rem;

    width: 100%;
    padding: 0.5rem;

    background: rgba(255, 255, 255, 0.5);

    border-top: 1px solid rgb(160, 175, 200);
    border-left: 1px solid rgb(160, 175, 200);
    border-radius: 0.375rem;

    display: block;
}

input::placeholder {
    color: black;
    opacity: 0.5;
    font-weight: normal;
    font-size: 1rem;
}

.redirect {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.redirect button {
    margin-top: 10px;
    font-size: 1rem;

    padding: 0.75rem 0.575rem 0.75rem 0.575rem;
    border-radius: 0.375rem;
    background: rgb(var(--color-all));
}

.redirect button:hover,
.redirect button:active {
    background: rgb(var(--color-all-darker));
}

main {
    width: 38%;
    border-left: 2px solid black;
    /* background: rgb(247, 247, 247); */
}

/* TITLES */
h1 {
    font-size: 2rem;
    font-family: "Arial Rounded MT Bold", "Nunito", sans-serif;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    display: block;
}

h1.all {
    color: rgb(var(--color-all));
}
.rsp p {
    overflow-wrap: break-word;
    max-width: 100%;
    font-size: 0.9rem;
}

#receiptModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
#receiptModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.order {
    border: var(--obrys) dashed salmon;
    color: #333;
    font-size: 16px;
    font-weight: normal;

    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.order-details {
    border: var(--obrys) dotted seagreen;
    margin: 5px 15px 2px 15px;
}

.order-details span {
    padding-left: 5px;
}

.order-id {
    font-size: 16px;
    font-weight: 600;
}

.cart {
    background-color: rgb(255, 253, 244);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    /* border: 1px solid rgb(201, 201, 201);
    border-radius: 10px; */
    vertical-align: baseline;
    padding:15px;
    margin-top: 5px;
    display: flex;
}

.cart span {
    padding-left: 15px;
    font-size: 14px;
}

svg {
    max-width: 25px;
    max-height: 25px;
}


.center {
    font-size: 14px !important;
    text-align: center;
}

.right {
    font-size: 14px !important;
    text-align: right;
}

.left {
    font-size: 14px !important;
    text-align: left;
}

.header {
    border: var(--obrys) dotted seagreen;
    margin: 5px 5px 0px 5px;
    max-height: 60px;
    vertical-align: baseline;
}

.header-text {
    display: inline-block;
    vertical-align: baseline;
    font-size: 12px;
}

.header-image {
    display: inline-block;
    vertical-align: baseline;
    margin: 0px 20px 0px 10px;
    max-width: 400px;
}

.footer {
    border: var(--obrys) dotted seagreen;
    padding: 2px;
    margin: 5px;
    height: 50px;
    vertical-align: baseline;
}

.footer-text {
    display: inline-block;
    font-size: 12px;
    vertical-align: baseline;
}

.footer-image {
    display: inline-block;
    margin: 0px 20px 0px 10px;
    vertical-align: baseline;
    width: 93px;
}
